## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

## Airplane  Risk Analysis for Business Expansion

## Data 
The dataset used for this project can be accessed here (https://github.com/learn-co-curriculum/dsc-phase-1-project-v3/tree/master/data). It contains detailed records of civil aviation accidents and incidents from 1948 to 2023, compiled by the National Transportation Safety Board (NTSB).

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Loading the dataset into pandas dataframe
df = pd.read_csv('data/Aviation_Data.csv')
#Display the first 5 rows
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

## Data Inspection

In [3]:
df.shape

(90348, 31)

In [45]:
df['Investigation.Type'].unique()

array(['Accident', 'Incident', '25-09-2020', '14-06-2021', '03-11-2020',
       '24-02-2021', '02-02-2021', '05-05-2021', '03-12-2020',
       '07-12-2020', '06-05-2021', '19-11-2020', '04-08-2021',
       '13-09-2021', '10-06-2021', '14-12-2021', '08-06-2021',
       '24-06-2021', '24-08-2021', '31-03-2021', '27-05-2021',
       '20-05-2021', '18-11-2020', '25-05-2021', '01-06-2021',
       '15-07-2021', '15-10-2021', '26-09-2020', '03-06-2021',
       '29-09-2021', '28-01-2021', '20-10-2021', '11-12-2020',
       '11-02-2021', '13-12-2021', '06-01-2021', '31-08-2021',
       '04-03-2021', '05-04-2021', '26-01-2021', '29-01-2021',
       '26-08-2021', '08-11-2021', '20-08-2021', '05-01-2021',
       '22-09-2021', '20-09-2021', '16-07-2021', '19-10-2021',
       '16-11-2021', '17-12-2021', '14-06-2022', '22-06-2022',
       '13-10-2022', '03-11-2022', '13-07-2022', '05-07-2022',
       '01-09-2022', '12-08-2022', '08-09-2022', '22-09-2022',
       '01-11-2022', '01-07-2022', '20-07-2022', '06-10-2022',
       '23-09-2022', '02-12-2022', '05-08-2022', '08-12-2022',
       '15-12-2022', '20-12-2022'], dtype=object)

In [4]:
#Display basic information about the Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [5]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [6]:
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

## Selecting Relevant columns
From the above data inspection, the dataset provided contains 31 columns. Some columns are not directly relevant to the business objective of identifying low risk airplanes for commercial and private operations. For our analysis, columns relating to aircraft properties and accident severity.

In [7]:
relevant_df = df[["Event.Date","Injury.Severity","Aircraft.damage","Aircraft.Category","Make","Model","Number.of.Engines","Engine.Type","Purpose.of.flight","Total.Fatal.Injuries","Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured"]]
relevant_df

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,1948-10-24,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,1962-07-19,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,1974-08-30,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,1977-06-19,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,1979-08-02,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,2022-12-26,Minor,NaN,NaN,PIPER,PA-28-151,NaN,NaN,Personal,0.0,1.0,0.0,0.0
90344,2022-12-26,NaN,NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,0.0,0.0,0.0,0.0
90345,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0
90346,2022-12-26,NaN,NaN,NaN,CESSNA,210N,NaN,NaN,Personal,0.0,0.0,0.0,0.0
90347,2022-12-29,Minor,NaN,NaN,PIPER,PA-24-260,NaN,NaN,Personal,0.0,1.0,0.0,1.0

In [8]:
relevant_df.shape

(90348, 13)

In [9]:
relevant_df.isna().sum()

Event.Date                 1459
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Make                       1522
Model                      1551
Number.of.Engines          7543
Engine.Type                8536
Purpose.of.flight          7651
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
dtype: int64

## Data Cleaning

The selected columns still contains a significant number of missing values across multiple columns. 

Different strategies are applied depending on the nature of each variable. Columns with excessive missing data that do not directly support the business objective are removed, while important numerical and categorical variables are either imputed or retained based on their analytical value.

In [13]:
# Filter rows where Aircraft.category is 'Airplane'
airplanes_df = relevant_df[relevant_df['Aircraft.Category'] == 'Airplane']
airplanes_df

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,1979-09-17,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
7,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
8,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0
12,1982-01-02,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0
13,1982-01-02,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,2022-12-13,Non-Fatal,Substantial,Airplane,PIPER,PA42,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90332,2022-12-14,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,1.0,NaN,Personal,0.0,0.0,0.0,1.0
90335,2022-12-15,Non-Fatal,Substantial,Airplane,SWEARINGEN,SA226TC,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90336,2022-12-16,Minor,Substantial,Airplane,CESSNA,R172K,1.0,NaN,Personal,0.0,1.0,0.0,0.0
90345,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0

In [16]:
airplanes_df.isna().sum()

Event.Date                   0
Injury.Severity            814
Aircraft.damage           1282
Aircraft.Category            0
Make                         9
Model                       31
Number.of.Engines         2754
Engine.Type               4226
Purpose.of.flight         3739
Total.Fatal.Injuries      3165
Total.Serious.Injuries    3224
Total.Minor.Injuries      2878
Total.Uninjured            900
dtype: int64

In [18]:
airplanes_df['Model'].unique()

array(['DC9', '140', '401B', ..., 'PHANTOM', 'KITFOX S5', 'M-8 EAGLE'],
      dtype=object)

In [19]:
airplanes_df['Make'].unique()

array(['Mcdonnell Douglas', 'Cessna', 'Bellanca', ..., 'GREG HOBBS',
       'JAMES R DERNOVSEK', 'ORLICAN S R O'], dtype=object)

In [20]:
#Drop rows with missing values for make and model
airplanes_df1 = airplanes_df.dropna(subset=['Make','Model'])
airplanes_df1

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,1979-09-17,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
7,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
8,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0
12,1982-01-02,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0
13,1982-01-02,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,2022-12-13,Non-Fatal,Substantial,Airplane,PIPER,PA42,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90332,2022-12-14,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,1.0,NaN,Personal,0.0,0.0,0.0,1.0
90335,2022-12-15,Non-Fatal,Substantial,Airplane,SWEARINGEN,SA226TC,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90336,2022-12-16,Minor,Substantial,Airplane,CESSNA,R172K,1.0,NaN,Personal,0.0,1.0,0.0,0.0
90345,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0

In [21]:
airplanes_df1.isna().sum()

Event.Date                   0
Injury.Severity            812
Aircraft.damage           1279
Aircraft.Category            0
Make                         0
Model                        0
Number.of.Engines         2749
Engine.Type               4213
Purpose.of.flight         3730
Total.Fatal.Injuries      3159
Total.Serious.Injuries    3216
Total.Minor.Injuries      2871
Total.Uninjured            894
dtype: int64

In [32]:
airplanes_df1['Purpose.of.flight'].unique()

array([nan, 'Personal', 'Business', 'Instructional', 'Ferry', 'Unknown',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Positioning', 'Other Work Use',
       'Public Aircraft - Federal', 'Air Race/show', 'Flight Test',
       'Public Aircraft - State', 'Glider Tow', 'Banner Tow',
       'Firefighting', 'External Load', 'Air Race show',
       'Public Aircraft - Local', 'Air Drop', 'PUBS', 'ASHO'],
      dtype=object)

In [24]:
#keep rows with valid engine count
airplanes_df2 = airplanes_df1[airplanes_df1['Number.of.Engines'] > 0]
airplanes_df2

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
5,1979-09-17,Non-Fatal,Substantial,Airplane,Mcdonnell Douglas,DC9,2.0,Turbo Fan,NaN,NaN,NaN,1.0,44.0
7,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
8,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0
12,1982-01-02,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0
13,1982-01-02,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90328,2022-12-13,Non-Fatal,Substantial,Airplane,PIPER,PA42,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90332,2022-12-14,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,1.0,NaN,Personal,0.0,0.0,0.0,1.0
90335,2022-12-15,Non-Fatal,Substantial,Airplane,SWEARINGEN,SA226TC,2.0,NaN,NaN,0.0,0.0,0.0,1.0
90336,2022-12-16,Minor,Substantial,Airplane,CESSNA,R172K,1.0,NaN,Personal,0.0,1.0,0.0,0.0
90345,2022-12-26,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0

In [28]:
airplanes_df2['Engine.Type'].unique()

array(['Turbo Fan', 'Reciprocating', 'Turbo Prop', 'Turbo Jet', 'Unknown',
       nan, 'Turbo Shaft', 'Electric', 'Geared Turbofan', 'UNK'],
      dtype=object)

In [29]:
# Replace 'UNK' with 'Unknown' in Engine.Type
airplanes_df2['Engine.Type'] = airplanes_df2['Engine.Type'].replace({'UNK': 'Unknown'})

In [30]:
airplanes_df2['Engine.Type'].unique()

array(['Turbo Fan', 'Reciprocating', 'Turbo Prop', 'Turbo Jet', 'Unknown',
       nan, 'Turbo Shaft', 'Electric', 'Geared Turbofan'], dtype=object)

In [35]:
#Drop rows with missing data in categorical data
airplanes_df3 = airplanes_df2.dropna(subset=['Engine.Type','Injury.Severity','Aircraft.damage','Purpose.of.flight'])
airplanes_df3

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
7,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,140,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
8,1982-01-01,Non-Fatal,Substantial,Airplane,Cessna,401B,2.0,Reciprocating,Business,0.0,0.0,0.0,2.0
12,1982-01-02,Non-Fatal,Destroyed,Airplane,Bellanca,17-30A,1.0,Reciprocating,Personal,0.0,0.0,1.0,0.0
13,1982-01-02,Fatal(1),Destroyed,Airplane,Cessna,R172K,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
14,1982-01-02,Fatal(1),Destroyed,Airplane,Navion,A,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90098,2022-10-06,Non-Fatal,Substantial,Airplane,CESSNA,150,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
90106,2022-10-08,Non-Fatal,Substantial,Airplane,CESSNA,177RG,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
90120,2022-10-13,Non-Fatal,Substantial,Airplane,BEECH,B-60,2.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
90194,2022-10-29,Minor,Substantial,Airplane,STEPHEN J HOFFMAN,MS-500,1.0,Reciprocating,ASHO,0.0,1.0,0.0,0.0
90226,2022-11-09,Non-Fatal,Substantial,Airplane,LUSCOMBE,8E,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0

In [36]:
airplanes_df3['Purpose.of.flight'].unique()

array(['Personal', 'Business', 'Instructional', 'Ferry', 'Unknown',
       'Executive/corporate', 'Aerial Observation', 'Aerial Application',
       'Public Aircraft', 'Skydiving', 'Positioning', 'Other Work Use',
       'Public Aircraft - Federal', 'Air Race/show', 'Flight Test',
       'Public Aircraft - State', 'Glider Tow', 'Banner Tow',
       'Firefighting', 'Air Race show', 'Public Aircraft - Local',
       'Air Drop', 'PUBS', 'ASHO'], dtype=object)

In [38]:
#replace missing numerical data with zero values

numerical_columns = ['Total.Fatal.Injuries','Total.Serious.Injuries','Total.Minor.Injuries','Total.Uninjured']
airplanes_df3[numerical_columns] = airplanes_df3[numerical_columns].fillna(0)

In [40]:
airplanes_df3.isna().sum()

Event.Date                0
Injury.Severity           0
Aircraft.damage           0
Aircraft.Category         0
Make                      0
Model                     0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
dtype: int64

In [42]:
airplanes_df3.duplicated().sum()

41

In [43]:
airplanes_df3[airplanes_df3.duplicated()]

,Event.Date,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
59,1982-01-08,Non-Fatal,Substantial,Airplane,Cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
61,1982-01-08,Non-Fatal,Substantial,Airplane,Cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
266,1982-02-07,Non-Fatal,Substantial,Airplane,Cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
385,1982-02-21,Non-Fatal,Substantial,Airplane,Cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
626,1982-03-20,Fatal(1),Destroyed,Airplane,Cessna,172N,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
629,1982-03-20,Non-Fatal,Substantial,Airplane,Luscombe,8E,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
680,1982-03-25,Non-Fatal,Substantial,Airplane,Cessna,150L,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
1371,1982-05-28,Non-Fatal,Substantial,Airplane,Cessna,172,1.0,Reciprocating,Personal,0.0,0.0,0.0,7.0
1777,1982-07-01,Non-Fatal,Substantial,Airplane,Grumman,G-164A,1.0,Reciprocating,Aerial Application,0.0,0.0,0.0,1.0
1923,1982-07-12,Non-Fatal,Substantial,Airplane,Piper,PA-12,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
2030,1982-07-20,Non-Fatal,Substantial,Airplane,Grumman,G-164B,1.0,Reciprocating,Aerial Application,0.0,0.0,0.0,1.0
2390,1982-08-15,Non-Fatal,Substantial,Airplane,Cessna,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
2608,1982-09-01,Non-Fatal,Substantial,Airplane,Piper,PA-18,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
2857,1982-09-23,Non-Fatal,Substantial,Airplane,Piper,PA-18,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
3198,1982-11-05,Non-Fatal,Substantial,Airplane,Piper,PA-28-140,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
3223,1982-11-07,Non-Fatal,Substantial,Airplane,Cessna,172,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
3377,1982-11-28,Fatal(3),Destroyed,Airplane,Cessna,172N,1.0,Reciprocating,Personal,3.0,0.0,0.0,0.0
14421,1986-04-15,Fatal(2),Destroyed,Airplane,Grumman,G164A,1.0,Reciprocating,Aerial Application,2.0,0.0,0.0,0.0
56930,2004-06-26,Non-Fatal,Substantial,Airplane,Cessna,172S,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
58729,2005-05-28,Non-Fatal,Substantial,Airplane,Cessna,172R,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
64215,2008-03-18,Non-Fatal,Substantial,Airplane,Cessna,180H,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
64506,2008-05-10,Non-Fatal,Substantial,Airplane,Cessna,172,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
66689,2009-07-02,Non-Fatal,Substantial,Airplane,CESSNA,172S,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
66937,2009-08-04,Non-Fatal,Substantial,Airplane,CESSNA,172S,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
67115,2009-08-31,Non-Fatal,Substantial,Airplane,CESSNA,152,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
67429,2009-11-01,Non-Fatal,Substantial,Airplane,PIPER,PA-18-150,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
69477,2011-01-24,Non-Fatal,Substantial,Airplane,CIRRUS DESIGN CORP,SR22,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
69942,2011-05-03,Non-Fatal,Substantial,Airplane,CESSNA,172P,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
70776,2011-09-05,Non-Fatal,Substantial,Airplane,PIPER,PA-12,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
71062,2011-10-30,Non-Fatal,Substantial,Airplane,PIPER,PA-18-150,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
75532,2014-06-16,Non-Fatal,Substantial,Airplane,CESSNA,180,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
76871,2015-04-11,Non-Fatal,Substantial,Airplane,AERONCA,7AC,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
78833,2016-06-08,Non-Fatal,Substantial,Airplane,CESSNA,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,2.0
79192,2016-08-02,Non-Fatal,Substantial,Airplane,CESSNA,172,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
79357,2016-08-30,Non-Fatal,Substantial,Airplane,CESSNA,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
80292,2017-04-12,Non-Fatal,Substantial,Airplane,CESSNA,180,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
81905,2018-03-07,Non-Fatal,Substantial,Airplane,CESSNA,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
85169,2019-11-12,Non-Fatal,Substantial,Airplane,Cessna,172,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0
85692,2020-04-21,Non-Fatal,Substantial,Airplane,Air Tractor,AT 602,1.0,Turbo Prop,Aerial Application,0.0,0.0,0.0,1.0
86647,2020-10-24,Non-Fatal,Substantial,Airplane,CESSNA,172,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
88972,2022-04-06,Non-Fatal,Substantial,Airplane,CESSNA,172RG,1.0,Reciprocating,Instructional,0.0,0.0,0.0,1.0